---

---

<header>
  <h1>Anthony Tran's Portfolio</h1>
  <nav>
    <ul>
      <li><a href="/index/">Home</a></li>
      <li><a href="/education/">Education & Career</a></li>
      <li><a href="/hobbies/">Hobbies</a></li>
    </ul>
  </nav>
</header>
