---
import Medallion from "./components/Medallion.astro";
import Navigation from "./components/Navigation.astro";
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Portfolio Hobbies</title>
</head>

<body>
  <Navigation/>

  <main>
    <section>
      <h2>Things I Enjoy</h2>
      <h3>Fencing</h3>
      <p>I'm an amateur fencer. More specifically, I practice <em>HEMA</em>, which stands for Historical European Martial Arts. Currently, I'm studying the German longsword tradition as laid down by historic masters, including Johannes Liechtenauer and Joachim Meyer. I'm also dabbling in Napoleonic saber based on texts by British duelist Charles Roworth. My primary goal is to become tournament-ready by the end of the year.
      <br>I'm a proud member of my local club: <b><a href="https://sdswordfighters.com" target="_blank">San Diego Swordfighters</a></b>. If it interests you, consider checking it out!</p>      
      <iframe width="560" height="315"
        src="https://www.youtube.com/embed/cyod3h4xHJs"
        title="San Diego Swordfighters - Club Introduction"
        allowfullscreen>
      </iframe>
      <h3>Baking</h3>
      <p>I also dabble in baking! I've made a variety of breads and a few cookies too. Here are a few recipes I've tried:</p>
      <ol>
        <li><a href="https://sallysbakingaddiction.com/homemade-artisan-bread/" target="_blank">Homemade Artisan Bread</a></li>
        <li><a href="https://www.kingarthurbaking.com/recipes/classic-baguettes-recipe" target="_blank">Classic French Baguette</a></li>
        <li><a href="https://www.kingarthurbaking.com/blog/2025/01/03/recipe-of-the-year-focaccia" target="_blank">Italian Focaccia</a></li>
        <li><a href="https://sallysbakingaddiction.com/ciabatta-bread-recipe/" target="_blank">Italian Ciabatta</a></li>
        <li><a href="https://sallysbakingaddiction.com/chocolate-chip-cookies/" target="_blank">Chocolate Chip Cookies</a></li>
        <li><a href="https://www.allrecipes.com/recipe/10025/white-chocolate-macadamia-nut-cookies-iii/" target="_blank">White Chocolate Macadamia Nut Cookies</a></li>
      </ol>
      <p>Even if you're not experienced, these are some great recipes to get started like I did. If baking interests you, grab a friend and give it a shot!</p>
      <h3>Video Gaming</h3>
      <p>I enjoy a variety of video games, including role-playing, open-world, turn-based, strategy, and roguelike games. Here are a selection of games I absolutely recommend.</p>
    </section>
      
    <div class="Game Reviews">
      <game-review>
        <h4>Kingdom Come: Deliverance II</h4>
        <p><strong>Genre:</strong> Action RPG</p>
        <p>The sequel to a game I quickly fell in love with, it is a immersive RPG set in 1403 Bohemia. It masterfully combines open-world RPG elements with a strong narrative, telling a story of grief, vengeance, and acceptance. The setting is strong, but the gameplay is not easy, especially for a beginner. It innovates on its previous iteration, as well as other games in its genre, to create something fresh and will hopefully pave the way for more.</p>
        <p><em>Rating:</em> ★★★★★</p>
      </game-review>
      
      <game-review>
        <h4>Cyberpunk 2077</h4>
        <p><strong>Genre:</strong> Action RPG</p>
        <p>The latest open-world RPG I've played, and a game that shouldn't be slept on. It is a fantastic example of an open-world done right, set in the fictional Night City amidst a dystopian future. Among other RPGs, the gameplay is strong and caters to multiple playstyles, such as action-packed shooting and tactical stealth. Overall, with its themes of human nature and resistance against oppression, it does its namesake genre justice.</p>
        <p><em>Rating:</em> ★★★★★</p>
      </game-review>
  
      <game-review>
        <h4>Darkest Dungeon</h4>
        <p><strong>Genre:</strong> Roguelike RPG</p>
        <p>Darkest Dungeon is, in essence, a game where you fight eldritch monsters in a futile attempt to save humanity from one man's hubris. The gameplay loop is quite simple: Assemble a team, delve into a dungeon, claim loot, win or lose, and go again. It's gothic comic-book art style is iconic, and the game boasts a lively modding scene. Among the other games, this one has the most bang-for-your-buck replayability.</p>
        <p><em>Rating:</em> ★★★★☆</p>
      </game-review>
      
      <game-review>
        <h4>Blasphemous</h4>
        <p><strong>Genre:</strong> Metroidvania</p>
        <p>The game that got me into the Metroidvania genre. The atmosphere and vibes are immaculate, owed to stunning music&mdash;traditional Spanish Flamenco with a gothic twist&mdash;paired with a stylized yet graphic pixel art style. The gameplay itself is great, but not perfect, and a little bit slower than alternatives like Hollow Knight. That is by no means saying it's bad, though it's not for everyone. If that sounds like your game, try it out!</p>
        <p><em>Rating:</em> ★★★★☆</p>
      </game-review>
    </div>

    <section>
      <h2>Goals</h2>
      <p>I'm always dipping my fingers in something new, learning new skills and flexing my creative muscles. Right now, I'm dabbling in <em>creative writing</em> and tapping into my love of <em>history</em> to create an exciting project. As of right now, It's in its early stages, but there will be updates to come.</p>
      <progress value="15" max="100"></progress>
    </section>

    <noscript>
      <p><strong>Note:</strong> This form may not work correctly if JavaScript is disabled.</p>
    </noscript>

    <Medallion/>
  </main>

  <footer>
    <p>&copy; 2025 Anthony Tran</p>
  </footer>
